.ham1{
    width:10px;
    height:10px;

}
.yt-logo{
    width:30%;
}

.youtube{
    font-size:13px;
    font-weight: bold;
}

.mic{
    border-radius: 60%;
    width:45px;
    height: 45px;
}